/* Description:  ETMP Presenation Styling*/
/* Author: Chin Jing Jie, George Can Tze Hui, Liew Woun Kai, Nicholas Lim Tun Yang */
/* Date: 31/03/2021 */
/* Validated: */

/* general setting */
*{
	box-sizing: border-box;
    text-align: center;
	z-index: auto;
	font-family: Arial, sans-serif;
    background-color: #e7feff;
}

.proof{
    max-width: 90%;
    max-height: 250px;
}

.error{
    color: red;
}

.link{
    text-align: center;
    font-size: 12px;
}

.link a{
    color: #0070ff;
}

.logo{
    margin-top: 2vw;
    height: 10vw;
}

h1{
	font-size: 2vw;
    margin: 0;
    padding: 2%;
    font-weight: bold; 
    background-color: #e7feff;
}

h2{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 5vw;
    font-weight: bold;
}

.left{
    margin-left: 5vw;
    text-align: left;
}

.left1{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.white{
    background-color: #fff;
}

.desc{
    float: left;
    margin-left: 5vw;
    display: inline-flex;
}

.line{
    display: inline-flex;
    vertical-align: text-bottom;
}

/*eye*/
.eye{
	position: absolute;
	cursor: pointer;
	margin-top: 1.9vw;
	left: 67.5vw;
}

#hide1{
	display: none;
}

#hide3{
	display: none;
}

#hide5{
	display: none;
}

.eye2{
	position: absolute;
	cursor: pointer;
	margin-top: 1.6vw;
	left: 64vw;
}

/*form*/
form label.required:after
{
    color: red;
    content: " *";
}

fieldset {
	border-radius: 10px;
	background-color: #fff;
    margin: 0 auto;
	padding: 2%;
	text-align: center;
	width: 65%;
	border: 2px solid black;
}

.form-group label{
    width: 30%;
    text-align: left;
    margin-left: 5%;
    vertical-align: middle;
}

label.content{
    text-align: left;
	box-sizing: border-box;
    margin-right: 10vw;
}

.form-group input[type=text],.form-group input[type=date],.form-group input[type=time],.form-group input[type=file],.form-group select{
    width: 40%;
    text-align: left;
	box-sizing: border-box;
    margin-right: 5vw;
}

#paymentErr{
   background-color: #fff;
   font-size: 1.5vw; 
}

fieldset p{
    margin-right: 15%;
    background-color: #fff;
} 

p.chklink{
    margin-left: 15%;
}

fieldset p a{
    background-color: #fff;
}

fieldset p label{
    width: 28%;
    text-align: left;
    margin-left: 12%;
    vertical-align: middle;
    background-color: #fff;
}

.deleteAcc b{
    margin-left: 10%;
    width:90%;
    background-color: #fff;
    text-align: center;
}

.deleteAccWarn{
    margin-left: 10%;
    text-align: center;
}

.label{
    margin-left: 10%;
    width:90%;
    text-align: left;
}

.aline{
    width: 100%;
}

.aline1{
    margin-left: 8vw;
}

.aline2{
    margin-left: 2vw;
}

p label.labeldetails{
    text-align: left;
    background-color: #fff;
}

p span.details{
    background-color: #fff;
}

span.labelcolon{
    text-align: right;
    background-color: #fff;
}

span.labelcolons{
    text-align: right;
}

fieldset p div{
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    background-color: #fff;
}

input[type=text],input[type=date],input[type=time],input[type=password],select{
	width: 40%;
	height: 3vw;
	margin: 1vw;
	box-sizing: border-box;
	border: 2px solid #000;
    border-radius: 0.5vw;
	font-size: 1.5vw;
}

input[type=file]{
    width: 40%;
	height: 3vw;
	margin: 1vw;
	box-sizing: border-box;
    background-color: #fff;
    font-size: 1.3vw;
}

#dynamicName{
    margin-left: 43%;
}

input:read-only {
  background-color: #d3d3d3;
}

.comment{
    text-align: left;
    margin-left: 10%;
    width: 100%;
}

.rate{
    text-align: center;
    margin-left: 10%;
    width: 100%;
}

.hLine1{
    width:100%; 
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 5vw;
    height:1px; 
    background: #000;
}


.form-group label.labelling{
    width: 90%;
    margin-left: 10%;
    text-align: left;
}

.form-group textarea{
    margin-right: 10%;
    border: 2px solid #000;
    font-size: 1.3vw;
    width: 80%;
}

textarea{
    margin-left: 10%;
    border: 2px solid #000;
    font-size: 1.3vw;
    width: 90%;
}

.newmessage{
    border: 2px solid #000;
    font-size: 1.3vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit], input[type=reset]{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 5vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
}

input[type=submit]:hover, input[type=reset]:hover{
	font-weight: bold;
	text-decoration: none;
}

button{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 5vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
    margin-bottom: 10px;
}

#GenerateReceiptPDF{
    background: #fff;
}

.generate{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 4vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
    margin-bottom: 10px;
}

.itinerary, .delete{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 4.2vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
    margin-bottom: 10px;
}

#DMButton{
	background-color: transparent;
}

button a, button a:hover{
    background-color: #0070ff;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

button:hover{
	font-weight: bold;
	text-decoration: none;
}

footer{
    margin-top: 12%;
}

footer>address{
    margin-top: 10px;
    margin-bottom: 0;
	padding: 1%;
	background-color: #0070ff;
    font-size: 1vw;
	color: #fff;
	clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

/* navigation*/
nav{
    box-sizing: border-box;
    background-color: #fff;
	padding: 1%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

nav ul{
    text-align: left;
    background-color: #fff;
}

nav>ul>li, nav>ul>li>a{
    background-color: #fff;
	display: inline;
	list-style-type: none;
    padding: 1% 4%;
    position: relative;
    right: 3%;
    margin-top: 4vw;
    vertical-align: top;
}

nav ul a, nav ul a img{
    margin: 2vw;
    background-color: #fff;
    text-align: left;
	height: 8vw;
}

nav a{
	text-decoration: none;
	color: #000;
}

nav a:hover{
	color: #0070ff;
    font-weight: bold;
    text-decoration: none;
}

.parent:hover .child{
	display: block;
}

.parent{
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 2vw;
}

.parent:hover{
	cursor: pointer;
	text-decoration: none;
}

.child{
	display: none;
    position: absolute;
	top: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 5;
    text-align: left;
    line-height: 4vw;
	padding: 1px 16px;
    font-size: 2vw;
}

.child li{
	text-align: left;
	display: block;
	width: inherit;
	padding: 1% 6%;
    background-color: #fff;
}

/*tab*/
.tab {
  overflow: hidden;
  background-color: #0070ff;
}

.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5vw;
}

.tab button:hover {
  text-decoration: underline;
}

.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  display: none;
  border: 2px solid #0070ff;
  padding: 6px 12px;
  border-top: none;
  background-color: #fff;
}

.tabcontent p{
    background-color: #fff;
}

/*stick position*/
div.sticky {
  position: fixed;
  bottom: 50px;
  right: 10px;
  border-radius: 100%;
}

div.sticky a i {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #0070ff;
  padding: 1vw;
  color: #fff;
}

div.sticky a i:hover {
  background-color: #000;
}

div.pull-right, div.pull-right a, div.pull-right a i,div.pull-left, div.pull-left a, div.pull-left a i {
  color: #fff;
  background-color: #0070ff;
}

div.pull-left a{
    padding: 4px 10px;
}

div.pull-right a i:hover, div.pull-left a i:hover {
  background-color: #fff;
  color: #0070ff;
  padding: 5px;
}

/*collapse or accordin bar*/
input#chck1, input#chck2, input#chck3, input#chck4, input#chck5, input#chck6, input#chck7, input#chck8, input#chck9, input#chck10{
    position: absolute;
    opacity: 0;
}

.accordion{
    overflow: hidden;
    padding: 0;
}

.progress-tab{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    overflow: hidden;
}
 
.progress-label{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #0070ff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2vw;
    border: solid #fff 1px;
}

.progress-label::after{
    content: "\0002B";   
}

.tab-content p{
    font-size: 1.2vw;
}

.tab-content{
	text-align: left;
    max-height: 0;
    color: #000;
    border-left: dotted #0070ff 1px;
    border-right: dotted #0070ff 1px;
    border-bottom: dotted #0070ff 1px;
}

.tab-content ul li{
    list-style-type: none;
    background-color: #fff;
}

.tab-content p{
    background: #fff;
    margin: 0;
    padding: 2% 0;
}

input#chck1:checked ~ .tab-content, input#chck2:checked ~ .tab-content, input#chck3:checked ~ .tab-content, input#chck4:checked ~ .tab-content, input#chck5:checked ~ .tab-content, input#chck6:checked ~ .tab-content, input#chck7:checked ~ .tab-content,
 input#chck8:checked ~ .tab-content, input#chck9:checked ~ .tab-content, input#chck10:checked ~ .tab-content{
    max-height: 100vw;
}

/*notification*/
.notification-space p{
    width: 90%;
    margin: 0 auto 50px auto;
    border: solid #0070ff 2px;
    background: #fff;
    padding: 2% 0.5%;
    font-size: 1.2vw;
    text-align: left;
}

.newmsg{
    width: 90%;
    margin: 0 auto;
    padding: 1vw;
    color: #fff;
    border: solid #0070ff 2px;
    text-align: right;
    background-color: #0070ff;
}

.newmsg a{
    background-color: #0070ff;
    color: #fff;
}

.newmsg a:hover{
    font-weight: bold;
}

/*course adding*/
.newcourse{
    width: 50%;
    margin: 0 auto;
    padding: 1vw;
    border: solid #0070ff 2px;
    text-align: right;
    background-color: #0070ff;
}

.newcourse a{
    background-color: #0070ff;
    color: #fff;
}

/*card view*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
    float: left;
    transition: 0.3s;
    width: 23%;
    height: 40vw;
    padding: 1%;
    background-color: #fff;
    margin: 1%;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
	display: inline-flex;
    transition: 0.3s;
    width: 23%;
    height: 20vw;
    padding: 1%;
    background-color: #fff;
    margin: 0.7%;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
	display: inline-flex;
    transition: 0.3s;
    width: 30%;
    height: 20vw;
    padding: 1%;
    background-color: #e7feff;
    margin: 0.7%;
}


.scroll{
    padding: 1% 0;
    border-top: 1px solid #0070ff;
    border-bottom: 1px solid #0070ff;
    background: #fff;
    max-height: 15vw;
    overflow-y: auto;
}

.scrolls{
    padding: 1% 0;
    border-top: 1px solid #0070ff;
    border-bottom: 1px solid #0070ff;
    background: #fff;
    max-height: 9vw;
    overflow-y: auto;
}

.scrolls2{
    padding: 1% 0;
    border-top: 1px solid #0070ff;
    border-bottom: 1px solid #0070ff;
    background: #fff;
    max-height: 20vw;
    overflow-y: auto;
}
.scrolls3{
    padding: 1% 0;
    border-top: 1px solid #0070ff;
    border-bottom: 1px solid #0070ff;
    background: #fff;
    max-height: 14vw;
    overflow-y: auto;
}

.card img{
    width: 100%;
    height: 15vw;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
    padding: 1vw;
    background-color: #fff;
    color: #000;
}

.text p, .text p b, .text p a{
    font-size: 1.2vw;
    background-color: #fff;
}

.row {
  content: "";
  clear: both;
  display: inline-block;
  margin:0 auto;
}

/*Database Table*/
table,th,td{
	font-size: 1vw;
    margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
    width: 1100px;
	background-color: #0070ff;
}

.table{
    margin: 1vw auto;
    width: 95%;
    border: 2px solid #000;
}

.tables{
    margin: 1vw auto;
    width: 95%;
    border: 2px solid #000;
}

.table tr th, .tables tr th{
    background-color: #0070ff;
    color: #fff;
}

.table tr td, .tables tr td{
    background-color: #fff;
    vertical-align: middle;
}

.tables tr th, tables, tr td{
    width:15%;
}

.tabClr{
    background-color: #e7feff;
}

.result{
    overflow-x:auto;
}

.highlight{
    text-align: left;
    padding-left: 2.5vw;
    padding-top: 1vw;
    font-weight: bold; 
}

/*Pop Ups*/
.design{
    background: none;
}

.modal-header{
    margin: 1px;
    background-color: #0070ff;
}

.modal-title{
    background-color: #0070ff;
    color: #fff;
}

.modal-footer{
    background-color: #fff;
}

.left div{
    text-align: left;
    margin-left: 20px;
}

/*CSS for Star Rating in Feedback Form */
#rating{
	margin-top : 10px;
}
div.stars {
  width: 270px;
  display: inline-block;
  margin-bottom: 15px;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #0070ff;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #0070ff;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #0070ff; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* media query */
/* max-width=browser width is less than / euqual to value */
/* min-width=browser width is greater than / euqual to value */
@media (max-width: 767px){
    .logo{
        margin-top: 8vw;
        height: 15vw;
    }

    h1{
        font-size: 3vw;
        padding: 2vw;
    }

    h2{
        font-size: 2vw;
    }
    
    input[type=text], input[type=date],input[type=time],input[type=password],select {
	   height: 5vw;
	   font-size: 1.8vw;
    }
    
    input[type=file]{
        height: 5vw;
        font-size: 1.8vw;
    }
    
    textarea{
        font-size: 1.8vw;
    }
    
    input[type=submit], button{
        font-size: 2vw;
        padding: 1.5vw 5vw;
        margin-bottom: 20px;
    }
    
    /*form*/
    fieldset {
        width: 85%;
    }
    
    fieldset p label{
        width: 25%;
    }
    
    #dynamicName{
        margin-left: 40%;
    }

    /* navigation*/
    nav ul a, nav ul a img{
        margin: 1vw;
        height: 10vw;
    }
    
    .parent, .child{
        font-size: 2.5vw;
    }
    
    .child li{
        padding: 8%;
    }
        
    /*stick position*/
    div.sticky a i {
      font-size: 25px;
      padding: 1.5vw;
    }
    
    /*collapse or accordin bar*/
    .progress-label, .tab-content p{
        font-size: 1.8vw;
    }
    
    /*notification*/
    .notification-space p{
        padding: 2%;
        font-size: 1.8vw;
    }
    
    /*tab*/
    .tab button {
      font-size: 2vw;
      padding: 1vw 1vw 0 3vw;
    }
    
    /*card view*/
    .card {
        width: 40%;
        height: 60vw;
        margin: 5%;
    }
    
    .scroll{
        max-height: 25vw;
        overflow-y: auto;
    }
    
    .scrolls{
        max-height: 15vw;
        overflow-y: auto;
    }

    .card img{
        width: 100%;
        height: 25vw;
    }
    
    p, .text p, .text p b, .text p a, .highlight, th, td{
        font-size: 1.8vw;
    }
    
    /*footer*/
    footer{
        margin-top: 17%;
    }
    
    footer>address{
        padding: 1.2%;
        font-size: 1.5vw;
    }
}

@media (max-width: 550px){
    .logo{
        margin-top: 13vw;
        height: 20vw;
    }

    h1{
        font-size: 3.5vw;
        padding: 3vw;
    }

    h2{
        font-size: 3vw;
    }
    
    input[type=text], input[type=date],input[type=time],input[type=password],select {
	   width: 50%;
	   height: 6vw;
	   font-size: 2.5vw;
    }
    
    input[type=file]{
        width: 50%;
        height: 6vw;
        font-size: 2.5vw;
    }
    
    textarea{
        font-size: 2.5vw;
    }
    
    input[type=submit], button{
        font-size: 2.5vw;
        padding: 2vw 8vw;
        margin-bottom: 20px;
    }
    
    /*form*/
    fieldset {
        width: 90%;
    }
    
    fieldset p{
        margin-right: 10%;
    } 

    /* navigation*/
    nav ul a, nav ul a img{
        height: 9vw;
    }
    
    .parent, .child{
        font-size: 2.8vw;
    }
    
    .child li{
        padding: 8%;
    }
    
    /*stick position*/
    div.sticky {
      bottom: 40px;
    }
    
    div.sticky a i {
      font-size: 25px;
      padding: 1.5vw;
    }
    
    /*collapse or accordin bar*/
    .progress-label, .tab-content p{
        font-size: 2.5vw;
    }
    
    /*notification*/
    .notification-space p{
        padding: 2%;
        font-size: 2.5vw;
    }
    
    /*tab*/
    .tab button {
      font-size: 3vw;
      padding: 2vw 1vw 0 3vw;
    }
    
    /*card view*/
    .card {
        height: auto;
        width: 85%;
        margin: 3% 8%;
    }
    
    .scroll{
        max-height: auto;
    }

    .card img{
        height: auto;
    }
    
    p, .text p, .text p b, .text p a, .highlight, th, td{
        font-size: 2.5vw;
    }
    
    /*footer*/
    footer{
        margin-top: 22%;
    }
    
    footer>address{
        padding: 1.5%;
        font-size: 2vw;
    }
}

/*chat*/
.chat-box {
    background-color: #0070ff;
    border: 2px solid #0070ff;
    bottom: 40px;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}

.chat-box-on {
    display: block !important;
}

/*header of the chat*/
.size{
    width:70%;
}

.search{
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
    color:white !important;
    width: 90% !important;
}

.search:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.find-msg {
  width: 50px;
  background: none;
  color: #fff;
  font-size: 20px;
}

.find-msg label, .find-msg label i{
  background: none;
  top: 8px;
  left: 83px;
  position: absolute;
  z-index: 2;
}

.find-msg>input {
  display: none;
}

.chat-box .chat-head {
    background-color: #0070ff;
    clear: both;
    color: #000;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
}

.chat-box .chat-head .popup-head-right {
    margin: 11px 7px 0;
}

.picBg{
    background-color: #0070ff;
    display: inline-flex;
}

#displayName, #chatTitle, #displayName2{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: #0070ff;
    color: #fff;
}

#minimizeChat, #minimizeChat1, #minimizeChat2, #backToChat1, #backToChat2{
    padding: 0 10px;
    line-height: 40px;
}

/*body of the chat*/
.contacts_body{
    padding:  5px 10px !important;
    overflow-y: auto;
    white-space: nowrap;
    background-color: rgba(0, 112, 255, 0.3);
}

.chatCardDisplay, .chatCardDisplay1{
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.contacts{
    list-style-type: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    border-bottom: 1px solid 
}

.chatCard{
    background-color: #fff;
    height: 50px;
}

.chatUser{
    width: 100%;
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 10px;
}
.chatUser span{
    background-color: #fff;
    font-size: 20px;
}
.chatUser p{
    text-align: left;
    background-color: #fff;
    font-size: 10px;
    margin-bottom: 0;
}

.chat-box .card_body {
    background: rgba(0, 112, 255, 0.7) none repeat scroll 0 0;
    height: 300px;
    overflow: auto;
}

.chat-box .chat-messages {
    background: #fff none repeat scroll 0 0;
    height: 300px;
    overflow: auto;
}

.chat-body {
    overflow: auto;
    transform: translate(0px, 0px); 
}

.chat-messages .chat-body {
    height: auto;
}

.msg_card_body {
  overflow-y: auto;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #0070ff;
  padding: 10px;
  width: 80%;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #0070ff;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  position: relative;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: #d3d3d3;
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: #d3d3d3;
  font-size: 10px;
}

/*file selection status*/
.chat-messages .chat-file-msg {
    width: 100%;
    height: 30px;
    background: #0070ff;
    position: absolute;
    bottom: 57px;
    z-index: 2;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    padding-left: 5px;
}

#fileSlt{
    display: none;
}

/*footer of the chat*/
.image-upload{
  width: 60px;
  background: #fff;
  color: #0070ff;
  font-size: 23px;
}

.image-upload label, .image-upload label i{
  background: #fff;
  bottom: 5px;
  left: 7px;
  position: absolute;
}

.image-upload>input {
  display: none;
}

.msg-send {
  width: 50px;
  background: #fff;
  color: #0070ff;
  font-size: 20px;
}

.msg-send label, .msg-send label i{
  background: #fff;
  bottom: 5px;
  right: 5px;
  position: absolute;
}

.msg-send>input {
  display: none;
}

.chat-footer > textarea {
    border: 2px solid #0070ff !important;
    height: 40px !important;
    margin: 7px;
    padding: 5px !important;
    width: 100% !important;
    background: #fff;
}

.chat-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
}

.listfooter{
    background: #0070ff;
    color: #fff;
    padding: 5px;
    border: 2px solid #fff;
}

/*Invoice CSS*/
.invoice-box {
	max-width: 1000px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px #0070ff;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #000000;
}

.ITopTable{
	text-align: right;
	border-color: #000000;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
	text-align:left;
}

.invoice-box table tr td:nth-child(2) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #e7feff;
	border-color: #000000;
	
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #e7feff;
	text-align: left;
}

.invoice-box table tr.top table td.iDetails {
	color: #000000;
	margin-right: auto;
	text-align: right;
}

.invoice-box table tr.information table td {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e7feff;
	border-color: #000000;
}

.invoice-box table tr.heading td {
	background: #e7feff;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	
}

.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
	background-color: #e7feff;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	border-color: #000000;
	font-weight: bold;
	background-color: #e7feff;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}

/** RTL **/
.invoice-box.rtl {
	direction: rtl;
	font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.invoice-box.rtl table {
	text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
	text-align: right;
}

.invoicelocation {
	text-align: left;
}

#invoiceID, #Cdate, #trainingID,#trainingName, #trainingProgram, #trainingStartDate, #trainingEndDate {
	text-align: right;
}


#invLoc1, #invLoc2, #invLoc3 {
	text-align: left;
}

#EmptyInvoiceBox {
	background-color: #e7feff ;
}

.invoiceTablePart2 {
	background-color: #e7feff;
}

.invoiceTablePart1{
	background-color: #e7feff;
}