/* Description:  ETMP Presenation Styling*/
/* Author: Chin Jing Jie, George Can Tze Hui, Liew Woun Kai, Nicholas Lim Tun Yang */
/* Date: 31/03/2021 */
/* Validated: */

/* general setting */
*{
	box-sizing: border-box;
    text-align: center;
	z-index: auto;
	font-family: Arial, sans-serif;
    background-color: #e7feff;
}

.link{
    font-size: 12px;
}

.link a{
    color: #0070ff;
}

.logo{
    margin-top: 2vw;
    height: 10vw;
}

h1{
	font-size: 2vw;
    margin: 0;
    padding: 2%;
    font-weight: bold; 
    background-color: #e7feff;
}

h2{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 5vw;
    color: #0070ff;
}

/*form*/
fieldset {
	border-radius: 10px;
	background-color: #fff;
    margin: 0 auto;
	padding: 2%;
	text-align: center;
	width: 65%;
	border: 2px solid black;
}

fieldset p,fieldset p label, fieldset p a{
    background-color: #fff;
}

input[type=text],select{
	width: 40%;
	height: 3vw;
	margin: 1vw;
	box-sizing: border-box;
	border: 2px solid #000;
    border-radius: 0.5vw;
	font-size: 1.5vw;
}

input[type=file]{
    background-color: #fff;
    font-size: 1.3vw;
}

textarea{
    border: 2px solid #000;
    font-size: 1.3vw;
}

input[type=submit], input[type=reset]{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 5vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
}

button{
	background-color: #0070ff;
	border: none;
	color: white;
	padding: 1vw 5vw;
	text-decoration: none;
	margin: 1vw;
	cursor: pointer;
	text-align: center;
	border-radius: 1vw;
    margin-bottom: 10px;
}

button a{
    background-color: #0070ff;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

footer{
    margin-top: 4%;
}

footer>address{
    margin-top: 10px;
    margin-bottom: 0;
	padding: 1%;
	background-color: #0070ff;
    font-size: 1vw;
	color: #fff;
	clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

/* navigation*/
nav{
    box-sizing: border-box;
    background-color: #fff;
	padding: 1%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

nav ul{
    text-align: left;
    background-color: #fff;
}

nav>ul>li, nav>ul>li>a{
    background-color: #fff;
	display: inline;
	list-style-type: none;
    padding: 1% 4%;
    position: relative;
    right: 3%;
    margin-top: 4vw;
    vertical-align: top;
}

nav ul a, nav ul a img{
    margin: 2vw;
    background-color: #fff;
    text-align: left;
	height: 8vw;
}

nav a{
	text-decoration: none;
	color: #000;
}

nav a:hover{
	color: #0070ff;
    font-weight: bold;
    text-decoration: none;
}

.parent:hover .child{
	display: block;
}

.parent{
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 2vw;
}

.parent:hover{
	cursor: pointer;
	text-decoration: none;
}

.child{
	display: none;
    position: absolute;
	top: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 5;
    text-align: left;
    line-height: 4vw;
	padding: 1px 16px;
    font-size: 2vw;
}

.child li{
	text-align: left;
	display: block;
	width: inherit;
	padding: 1% 6%;
    background-color: #fff;
}

/*tab*/
.tab {
  overflow: hidden;
  background-color: #0070ff;
}

.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5vw;
}

.tab button:hover {
  text-decoration: underline;
}

.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  display: none;
  border: 2px solid #0070ff;
  padding: 6px 12px;
  border-top: none;
  background-color: #fff;
}

.tabcontent p{
    background-color: #fff;
}

/*stick position*/
div.sticky {
  position: fixed;
  bottom: 50px;
  right: 10px;
  border-radius: 100%;
}

div.sticky a i {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #0070ff;
  padding: 1vw;
  color: #fff;
}

/*collapse or accordin bar*/
input#chck1, input#chck2, input#chck3, input#chck4, input#chck5, input#chck6{
    position: absolute;
    opacity: 0;
}

.accordion{
    overflow: hidden;
    padding: 0;
}

.progress-tab{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    overflow: hidden;
}
 
.progress-label{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #0070ff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2vw;
    border: solid #fff 1px;
}

.progress-label::after{
    content: "\0002B";   
}

.tab-content p{
    font-size: 1.2vw;
}

.tab-content{
    max-height: 0;
    color: #000;
    border-left: dotted #0070ff 1px;
    border-right: dotted #0070ff 1px;
    border-bottom: dotted #0070ff 1px;
}

.tab-content ul li{
    list-style-type: none;
    background-color: #fff;
}

.tab-content p{
    background: #fff;
    margin: 0;
    padding: 2% 0;
}

input#chck1:checked ~ .tab-content, input#chck2:checked ~ .tab-content, input#chck3:checked ~ .tab-content, input#chck4:checked ~ .tab-content, input#chck5:checked ~ .tab-content, input#chck6:checked ~ .tab-content{
    max-height: 100vw;
}

/*notification*/
.notification-space p{
    width: 90%;
    margin: 0 auto 50px auto;
    border: solid #0070ff 2px;
    background: #fff;
    padding: 2% 0.5%;
    font-size: 1.2vw;
    text-align: left;
}

.newmsg{
    width: 90%;
    margin: 0 auto;
    padding: 1vw;
    border: solid #0070ff 2px;
    text-align: right;
    background-color: #0070ff;
}

.newmsg a{
    background-color: #0070ff;
    color: #fff;
}

/*course adding*/
.newcourse{
    width: 50%;
    margin: 0 auto;
    padding: 1vw;
    border: solid #0070ff 2px;
    text-align: right;
    background-color: #0070ff;
}

.newcourse a{
    background-color: #0070ff;
    color: #fff;
}

/*card view*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
    float: left;
    transition: 0.3s;
    width: 23%;
    padding: 1%;
    background-color: #fff;
    margin: 1%;
}

.card img{
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
    padding: 1vw;
    background-color: #fff;
    color: #0070ff;
}

.text p, .text p b, .text p a{
    font-size: 1.2vw;
    background-color: #fff;
}

.row {
  content: "";
  clear: both;
  display: inline-block;
  margin:0 auto;
}

/* media query */
/* max-width=browser width is less than / euqual to value */
/* min-width=browser width is greater than / euqual to value */
@media (max-width: 767px){
    .logo{
        margin-top: 8vw;
        height: 15vw;
    }

    h1{
        font-size: 3vw;
        padding: 2vw;
    }

    h2{
        font-size: 2vw;
    }
    
    input[type=text], select {
	   height: 5vw;
	   font-size: 1.8vw;
    }
    
    input[type=file], textarea{
        font-size: 1.8vw;
    }
    
    input[type=submit], button{
        padding: 1.5vw 5vw;
        margin-bottom: 20px;
    }
    
    /*form*/
    fieldset {
        width: 85%;
    }

    /* navigation*/
    nav ul a, nav ul a img{
        margin: 1vw;
        height: 10vw;
    }
    
    .parent, .child{
        font-size: 2.5vw;
    }
    
    .child li{
        padding: 8%;
    }
        
    /*stick position*/
    div.sticky a i {
      font-size: 25px;
      padding: 1.5vw;
    }
    
    /*collapse or accordin bar*/
    .progress-label, .tab-content p{
        font-size: 1.8vw;
    }
    
    /*notification*/
    .notification-space p{
        padding: 2%;
        font-size: 1.8vw;
    }
    
    /*tab*/
    .tab button {
      font-size: 2vw;
      padding: 1vw 1vw 0 3vw;
    }
    
    /*card view*/
    .card {
        width: 40%;
        margin: 4%;
    }
    
    .text p, .text p b, .text p a{
        font-size: 1.8vw;
    }
    
    /*footer*/
    footer{
        margin-top: 5%;
    }
    
    footer>address{
        padding: 1.2%;
        font-size: 1.5vw;
    }
}

@media (max-width: 550px){
    .logo{
        margin-top: 13vw;
        height: 20vw;
    }

    h1{
        font-size: 3.5vw;
        padding: 3vw;
    }

    h2{
        font-size: 3vw;
    }
    
    input[type=text], select {
	   width: 50%;
	   height: 6vw;
	   font-size: 2.5vw;
    }
    
    input[type=file], textarea{
        font-size: 2.5vw;
    }
    
    input[type=submit], button{
        padding: 2vw 8vw;
        margin-bottom: 20px;
    }
    
    /*form*/
    fieldset {
        width: 90%;
    }
    
    /* navigation*/
    nav ul a, nav ul a img{
        height: 9vw;
    }
    
    .parent, .child{
        font-size: 2.8vw;
    }
    
    .child li{
        padding: 8%;
    }
    
    /*stick position*/
    div.sticky {
      bottom: 40px;
    }
    
    div.sticky a i {
      font-size: 25px;
      padding: 1.5vw;
    }
    
    /*collapse or accordin bar*/
    .progress-label, .tab-content p{
        font-size: 2.5vw;
    }
    
    /*notification*/
    .notification-space p{
        padding: 2%;
        font-size: 2.5vw;
    }
    
    /*tab*/
    .tab button {
      font-size: 3vw;
      padding: 2vw 1vw 0 3vw;
    }
    
    /*card view*/
    .card {
        width: 85%;
        margin: 2% 8%;
    }
    
    .text p, .text p b, .text p a{
        font-size: 2.5vw;
    }
    
    /*footer*/
    footer{
        margin-top: 6%;
    }
    
    footer>address{
        padding: 1.5%;
        font-size: 2vw;
    }
}

/*Database Table*/
table,th,td{
	font-size: 1vw;
    margin: 2vw;
	border: 2px solid black;
	width: 1100px;
	background-color: #0070ff;
}

/*Pop Ups*/
.design{
    background: none;
}

.modal-header{
    margin: 1px;
    background-color: #0070ff;
}

.modal-title{
    background-color: #0070ff;
    color: #fff;
}

.modal-footer{
    background-color: #fff;
}